.collapse {
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-top: 20px;
  }
  
  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #FF6060;
    border-radius: 5px;
    height: 47px;
    padding: 0 10px;
  }

  .open .collapse-header{
    border-radius: 5px 5px 0 0;
  }

  .arrow {
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .open .arrow {
    transform: rotate(-135deg);
  }

  .collapse_title{
    font-size: 1.125rem;
    line-height: 25.67px;
    color: white;
    font-weight: 500;
    margin: 0;
  }

  .collapse-content {
    height: auto;
    padding: 20px 20px 27px 20px;
    border-radius: 0 0 5px 5px;
    background-color: #F6F6F6;
    color: #FF6060;
    font-weight: 400;
    line-height: 34.22px;
    font-size: 18px;
    text-align: justify;

  }

  .collapse__list-ul{
    padding: 0;
    list-style: none;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .collapse-header {
      border-radius: 10px;
      height: 30px;
      padding: 0 10px;
    }
    .collapse_title{
      font-size: 0.813rem;
      line-height: 18.54px;
    }

    .collapse-content {
      font-size: 0.75rem;
      line-height: 17.11px;
    }
  }

  
  