.rate{
    display: flex;
    gap: 15px;
    margin-top: 18px;
}
.star{
    width: 24.75px;
    height: 24px;
}


  @media screen and (max-width: 768px) {
    .rate{
        gap: 5px;
    }
    .star{
        width: 13.41px;
        height: 13px;
    }
   
  }
