.appartment-page{
    margin-top: 20px;
}
.appartment{
    display: flex;
    justify-content: space-between;
    color: #FF6060;
    margin-top: 30px;

}

.appartment-details{
   display: flex;
}

.collapse_appart{
    width: 100%;
}

.appart-name{
    font-weight: 500px;
    font-size: 2.25rem;
    line-height: 51.34px;
    margin: 0;
}
.appart-location{
    font-size: 1.125rem;
    line-height: 25.67px;
    margin: 0;
}

.appartment-tags{
    margin: 20px 0 24px 0;
}

.collapse-list {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}
  
.collapse-list li {
    font-size: 18px;
}
  
  @media screen and (max-width: 768px) {
    .appartment{
        flex-direction: column;
    }
    .appartment-details{
        flex-direction: column;
     }
    .appart-name{
        font-size: 1.125rem;
        line-height: 25.67px;
    }
    .appart-location{
        font-size: 0.875rem;
        line-height: 19.96px;
    }

    .appart_host{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .appartment-tags{
        margin: 10px 0 5px 0;
    }
  }
  


  